<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/journal/bootstrap.min.css"
      integrity="sha384-QDSPDoVOoSWz2ypaRUidLmLYl4RyoBWI44iA5agn6jHegBxZkNqgm2eHb6yZ5bYs" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Notice Board</title>
</head>
<body>


<div class="container text-center col-lg-10 col-lg-offset-2">
    <br>
    <h1>Comments</h1>
    <br>
    <br>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">Content</th>
            <th scope="col">Published</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-primary" th:each="comment:${comments}">
            <td th:text="${comment.user.username}"></td>
            <td th:text="${comment.content}"></td>
            <td th:text="${comment.published}"></td>
        </tr>
        </tbody>
    </table>

    <form class="form-group" action="/comment" method="post" onsubmit="return checkUserInput()">
        <input type="hidden" th:value="${comments.get(1).notice.id}" id="id" name="id">
        <textarea class="form-control" id="commentcontent" name="content" rows="3"
                  placeholder="New comment.."></textarea>
        <button type="submit" class="btn btn-outline-primary float-right">Comment</button>
    </form>

</div>
</body>
</html>

<script>
    function checkUserInput() {
        var content = document.getElementById("commentcontent").value;

        if (content.length == 0) {
            alert("You have to write something in content!");
            return false;
        }
        submitOK = true;
    }
</script>
