<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/journal/bootstrap.min.css"
      integrity="sha384-QDSPDoVOoSWz2ypaRUidLmLYl4RyoBWI44iA5agn6jHegBxZkNqgm2eHb6yZ5bYs" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>


<div class="container text-center col-lg-4 col-lg-offset-8">
    <br>
    <h1>Edit Notice</h1>
    <br>
    <br>
c
    <!-- Edit Notice Form -->
    <form class="form-group" action="/edit" method="post" onsubmit="return checkUserInput()"
          enctype="multipart/form-data">
        <div class="form-group">
            <input type="hidden" th:value="${notice.id}" id="id" name="id">
            <input type="text" class="form-control" th:value="${notice.title}" placeholder="Write title here" id="title" name="title">
            <br>
            <textarea class="form-control" th:text="${notice.content}" id="content" name="content" rows="3" placeholder="Content"></textarea>
        </div>
        <br>
        <p th:text="${message}" class="text-danger"></p>
        <button type="submit" class="btn btn-outline-primary float-right">Save Changes</button>
    </form>
    <a th:href="@{/delete/(id=${notice.id})}" class="card-link">Delete</a>

    <!-- Back to start -->
    <form action="/" method="get">
        <button class="btn btn-outline-secondary float-left">Back to start</button>
    </form>
</div>

<script>
    function checkUserInput() {
        var title = document.getElementById("title").value;
        var content = document.getElementById("content").value;

        if (title.length === 0) {
            alert("Title is mandatory!");
            return false;
        } else if (content.length === 0) {
            alert("You have to write something in content!");
            return false;
        }
        alert("Added!");
        submitOK = true;
    }
</script>
</body>
</html>