<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/journal/bootstrap.min.css"
      integrity="sha384-QDSPDoVOoSWz2ypaRUidLmLYl4RyoBWI44iA5agn6jHegBxZkNqgm2eHb6yZ5bYs" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<div class="container text-center col-lg-5 col-lg-offset-7">
    <br>
    <h1>Login</h1>
    <br>
    <br>
    <div>
        <!-- Login form -->
        <form th:object="${user}" role="form" th:action="@{/login}" method="post" onsubmit="return checkUserInput()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" th:field="*{appUserUsername}" class="form-control" id="username"
                       placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" th:field="*{appUserPassword}" class="form-control" id="password"
                       placeholder="Enter password">
            </div>
            <button type="submit" class="btn btn-danger btn-block">Login</button>
        </form>
        <br>
        <!-- Create new account -->
        <a th:href="@{/registerPage}" class="card-link">Create New Account</a>
    </div>
</div>
</body>
</html>

<script>
    function checkUserInput() {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;

        if (username.length < 1) {
            alert("No username is that short..");
            return false;
        } else if (password.length < 5) {
            alert("Not a valid password..");
            return false;
        }
        submitOK = true;
    }
</script>

