<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/journal/bootstrap.min.css"
      integrity="sha384-QDSPDoVOoSWz2ypaRUidLmLYl4RyoBWI44iA5agn6jHegBxZkNqgm2eHb6yZ5bYs" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Notice Board</title>
</head>
<body>


<div class="container col-lg-10 col-lg-offset-2">
    <br>
    <h1 class="text-center">Notices</h1>
    <br>
    <br>

    <!-- Buttons: "Add New Notice" and "Logout" -->
    <div class="row">
        <!-- Trigger logout -->
        <form action="/logout" method="get">
            <button type="submit" class="btn btn-danger btn-lg float-left" id="myBtn">Logout</button>
        </form>
        <!-- Trigger adding new notice -->
        <form action="/addNotice" method="get">
            <button type="submit" class="btn btn-danger btn-lg float-right"><strong>+</strong></button>
        </form>
    </div>
    <br>
    <br>

    <!-- Notices -->
    <div class="d-flex align-content-stretch flex-wrap">
        <div class="card border-primary mr-3 mb-3 float-left" th:each="notice:${notices}"
             style="max-width: 20rem;">
            <div class="card-header" th:text="${notice.appUser.appUserUsername}">Header</div>
            <form class="card-body">
                <h4 class="card-title" th:text="${notice.title}">Primary card title</h4>
                <h6 class="card-subtitle mb-2 text-muted"
                    th:text="${#dates.format(notice.published, 'yyyy-MM-dd HH:mm')}"></h6>
                <p class="card-text" th:text="${notice.content}"></p>
                <a th:href="@{/editNotice/(id=${notice.id})}" class="card-link">Edit</a>
                <a th:href="@{/delete/(id=${notice.id})}" class="card-link" type="submit">Delete</a>
                <a th:href="@{/showComments/(id=${notice.id})}" class="card-link">Comments</a>
            </form>
        </div>
    </div>

</div>
</body>
</html>

