<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/journal/bootstrap.min.css"
      integrity="sha384-QDSPDoVOoSWz2ypaRUidLmLYl4RyoBWI44iA5agn6jHegBxZkNqgm2eHb6yZ5bYs" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
</head>
<body>


<div class="container text-center col-lg-7 col-lg-offset-5">
    <br>
    <h1>Comments</h1>
    <br>
    <br>

    <!-- Notice Card -->
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" th:text="${notice.title}">Card title</h4>
            <h6 class="card-subtitle mb-2 text-muted" th:text="${#dates.format(notice.published, 'yyyy-MM-dd HH:mm')}"></h6>
            <p class="card-text" th:text="${notice.content}"></p>
            <br>
        </div>
    </div>

    <!-- Comments Table -->
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">Content</th>
            <th scope="col">Published</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-primary" th:each="comment:${comments}">
            <td th:text="${comment.appUser.appUserUsername}"></td>
            <td th:text="${comment.content}"></td>
            <td th:text="${#dates.format(comment.published, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>

    <!-- Add New Comment -->
    <form class="form-group" action="/comment" method="post" onsubmit="return checkUserInput()">
        <input type="hidden" th:value="${notice.id}" id="id" name="id">
        <label for="commentcontent"></label>
        <textarea class="form-control" id="commentcontent" name="content" rows="3"
                                                      placeholder="New comment.."></textarea>
        <button type="submit" class="btn btn-outline-primary">Comment</button>
    </form>
    <br>
    <form action="/" method="get">
        <button class="btn btn-outline-secondary">Back to start</button>
    </form>

</div>
</body>
</html>

<script>
    function checkUserInput() {
        var commentcontent = document.getElementById("commentcontent").value;
        var id = document.getElementById("id").value;

        if (commentcontent.length === 0) {
            alert("You have to write something in content!");
            return false;
        } else if (id == null) {
            return false;
        }
        submitOK = true;
    }
</script>
