<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/journal/bootstrap.min.css"
      integrity="sha384-QDSPDoVOoSWz2ypaRUidLmLYl4RyoBWI44iA5agn6jHegBxZkNqgm2eHb6yZ5bYs" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>


<div class="container text-center col-lg-5 col-lg-offset-7">
    <br>
    <h1>Register New Account</h1>
    <br>
    <br>
    <div>
        <form th:object="${user}" role="form" th:action="@{/register}" method="post" onsubmit="return checkUserInput()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" th:field="*{username}" class="form-control" id="username"
                       placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" th:field="*{password}" class="form-control" id="password" placeholder="Enter password">
            </div>
            <p th:value="${message}"></p>
            <button type="submit" class="btn btn-danger btn-block">Register</button>
        </form>
        <br>
        <a th:href="@{/}" class="card-link">Back to start</a>

    </div>


</div>
</body>
</html>

<script>
    function checkUserInput() {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;

        if (username.length < 3) {
            alert("Username need to be 3 characters or more");
            return false;
        } else if (password.length < 5) {
            alert("Password need to 5 characters or more");
            return false;
        }
        submitOK = true;
    }
</script>

